Rendu 2/workflow/workflow_4_prospect_watchlist.json
{
  "name": "v3 UC3 MVP 4 - Prospect Watchlist Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "ad72bd09-89ba-4e05-a9cb-f19894b58594",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "**REPLACE_WORKSHEET_ID**",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "**REPLACE_SHEET_NAME**",
          "mode": "list",
          "cachedResultName": "talent_pools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/**REPLACE_WORKSHEET_ID**/edit#gid=**REPLACE_SHEET_GID**"
        },
        "options": {}
      },
      "id": "b97b016d-7160-4de4-b57d-c6fdbd73d4d5",
      "name": "Read talent_pools",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERU5W8Lro76UsixY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Keep only the best talent pools and prepare a clean context for prospect-query generation.\n// This node is intentionally deterministic so the demo remains stable.\nconst rows = items.map(i => i.json);\n\nconst selected = rows\n  .filter(r => {\n    const score = Number(r.global_priority_score || r.Global_priority_score || 0);\n    const priority = String(r.priority || '').toLowerCase();\n    return priority.includes('act now') || score >= 70;\n  })\n  .sort((a, b) => Number(b.global_priority_score || 0) - Number(a.global_priority_score || 0))\n  .slice(0, 6);\n\n// Fallback: if no row matches because scores are strings/missing, keep top 5 rows.\nconst finalRows = selected.length ? selected : rows.slice(0, 5);\n\nreturn finalRows.map((r, index) => ({\n  json: {\n    watchlist_batch_id: `watch_batch_${new Date().toISOString().slice(0,10)}`,\n    query_id: r.query_id || 'q_001',\n    source_company: r.company || r.source_company || 'Unknown',\n    target_role: 'Senior AI Engineer',\n    geo: 'France',\n    global_priority_score: r.global_priority_score || '',\n    priority: r.priority || 'Watch',\n    likely_teams: r.likely_teams || '',\n    why_it_matters: r.why_it_matters || '',\n    recommended_sourcing_action: r.recommended_sourcing_action || '',\n    best_outreach_narrative: r.best_outreach_narrative || '',\n    row_number: index + 1\n  }\n}));\n"
      },
      "id": "35c9cb72-7809-4c11-8ae8-a700eb4be237",
      "name": "Keep High Priority Pools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer sk-proj--**REPLACE**"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"gpt-4o-mini\",\n    \"temperature\": 0.2,\n    \"response_format\": {\n      \"type\": \"json_object\"\n    },\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"You are a senior Talent Sourcing Intelligence expert working for Mirakl. Your job is to generate compliant prospect search strategies, not scrape personal profiles. Focus on France. You return valid JSON only.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Target role:\\nSenior AI Engineer\\n\\nCompany/talent-pool context:\\n\" + JSON.stringify($json) + \"\\n\\nGenerate sourcing search queries that a recruiter can use manually or through approved tools.\\n\\nRules:\\n- Do not scrape LinkedIn directly.\\n- Generate search queries and prospect hypotheses.\\n- Focus on France, Paris, Bordeaux, remote France.\\n- Prioritize latent senior profiles: long tenure, stale title, strong company environment, role adjacency.\\n- Include queries for Google search, LinkedIn manual search, GitHub, conference pages, and engineering blogs where relevant.\\n- Make the queries concrete enough to copy/paste.\\n\\nReturn valid JSON with exactly this structure:\\n{\\n  \\\"source_company\\\": \\\"\\\",\\n  \\\"target_role\\\": \\\"Senior AI Engineer\\\",\\n  \\\"prospect_strategy\\\": \\\"\\\",\\n  \\\"queries\\\": [\\n    {\\n      \\\"source_type\\\": \\\"Google Search | LinkedIn Manual Search | GitHub | Conference | Engineering Blog\\\",\\n      \\\"search_query\\\": \\\"\\\",\\n      \\\"expected_profile_type\\\": \\\"\\\",\\n      \\\"priority\\\": \\\"High | Medium | Low\\\",\\n      \\\"reason_to_search\\\": \\\"\\\",\\n      \\\"suggested_filters\\\": \\\"\\\"\\n    }\\n  ]\\n}\"\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "id": "8a2fa6b8-57c6-4288-92a1-a8df7b2c9fd2",
      "name": "OpenAI - Generate Prospect Queries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.flatMap((item, itemIndex) => {\n  const base = $items('Keep High Priority Pools')[itemIndex]?.json || {};\n  let raw =\n    item.json.choices?.[0]?.message?.content ||\n    item.json.message?.content ||\n    item.json.output_text ||\n    item.json.text ||\n    '';\n\n  raw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    // Fallback so the demo never breaks if OpenAI returns malformed JSON.\n    const company = base.source_company || 'Unknown';\n    parsed = {\n      source_company: company,\n      target_role: base.target_role || 'Senior AI Engineer',\n      prospect_strategy: `Search for under-visible AI/ML profiles in ${company} using manual recruiter validation.`,\n      queries: [\n        {\n          source_type: 'LinkedIn Manual Search',\n          search_query: `site:linkedin.com/in \"${company}\" \"Machine Learning Engineer\" \"Paris\"`,\n          expected_profile_type: 'ML / AI engineer with possible latent seniority',\n          priority: 'High',\n          reason_to_search: `${company} was ranked as a relevant talent pool for Mirakl.`,\n          suggested_filters: 'France; Paris; 3+ years tenure; AI/ML/Data/Platform keywords'\n        },\n        {\n          source_type: 'Google Search',\n          search_query: `\"${company}\" \"AI Engineer\" \"France\"`,\n          expected_profile_type: 'AI engineer or applied ML profile',\n          priority: 'Medium',\n          reason_to_search: 'Find public references outside LinkedIn.',\n          suggested_filters: 'France; AI; LLM; RAG; platform'\n        }\n      ]\n    };\n  }\n\n  const queries = Array.isArray(parsed.queries) ? parsed.queries : [];\n\n  return queries.map((q, index) => ({\n    json: {\n      prospect_id: `prospect_${Date.now()}_${itemIndex}_${index}`,\n      query_id: base.query_id || 'q_001',\n      source_company: parsed.source_company || base.source_company || '',\n      target_role: parsed.target_role || base.target_role || 'Senior AI Engineer',\n      search_query: q.search_query || '',\n      source_type: q.source_type || 'Google Search',\n      generated_from_signal: parsed.prospect_strategy || base.why_it_matters || '',\n      priority: q.priority || 'Medium',\n      reason_to_search: q.reason_to_search || '',\n      expected_profile_type: q.expected_profile_type || '',\n      suggested_filters: q.suggested_filters || '',\n      status: 'To search',\n      created_at: new Date().toISOString().slice(0, 10)\n    }\n  }));\n});\n"
      },
      "id": "c49d9181-1db1-4c71-ba95-535bb4081836",
      "name": "Parse Prospect Queries JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "**REPLACE_WORKSHEET_ID**",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "**REPLACE_SHEET_NAME**",
          "mode": "list",
          "cachedResultName": "prospect_watchlist",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/**REPLACE_WORKSHEET_ID**/edit#gid=**REPLACE_SHEET_GID**"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prospect_id": "={{ $json.prospect_id }}",
            "query_id": "={{ $json.query_id }}",
            "source_company": "={{ $json.source_company }}",
            "target_role": "={{ $json.target_role }}",
            "search_query": "={{ $json.search_query }}",
            "source_type": "={{ $json.source_type }}",
            "generated_from_signal": "={{ $json.generated_from_signal }}",
            "priority": "={{ $json.priority }}",
            "reason_to_search": "={{ $json.reason_to_search }}",
            "expected_profile_type": "={{ $json.expected_profile_type }}",
            "suggested_filters": "={{ $json.suggested_filters }}",
            "status": "={{ $json.status }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prospect_id",
              "displayName": "prospect_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "query_id",
              "displayName": "query_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_company",
              "displayName": "source_company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_role",
              "displayName": "target_role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_from_signal",
              "displayName": "generated_from_signal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reason_to_search",
              "displayName": "reason_to_search",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expected_profile_type",
              "displayName": "expected_profile_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_filters",
              "displayName": "suggested_filters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "78df37e5-9e61-49bf-8d49-5a5d4eefb0db",
      "name": "Append prospect_watchlist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1360,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERU5W8Lro76UsixY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read talent_pools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read talent_pools": {
      "main": [
        [
          {
            "node": "Keep High Priority Pools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep High Priority Pools": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Prospect Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Prospect Queries": {
      "main": [
        [
          {
            "node": "Parse Prospect Queries JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prospect Queries JSON": {
      "main": [
        [
          {
            "node": "Append prospect_watchlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "513507bd-a773-4196-9590-8752d877a411",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f77a87671be770b6d9ddd8adb5517f104760a4bca53f9786441e20f0d0b605dd"
  },
  "id": "ePiZLA4Wnpb3rccA",
  "tags": []
}