Templates/workflow/workflow_3_competitor_brief.json
{
  "name": "v3 UC3 MVP 3 - Competitor Brief with OpenAI",
  "nodes": [
    {
      "parameters": {},
      "id": "e696d463-7d37-4b04-b3fa-07ede3a945c0",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "**REPLACE_WORKSHEET_ID**",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "**REPLACE_SHEET_NAME**",
          "mode": "list",
          "cachedResultName": "market_signals",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/**REPLACE_WORKSHEET_ID**/edit#gid=**REPLACE_SHEET_GID**"
        },
        "options": {}
      },
      "id": "462febf8-0039-4736-9934-0b56850156bf",
      "name": "Read market_signals",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERU5W8Lro76UsixY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst signals = items.map(i => i.json).filter(s => (s.company || '').toLowerCase() === 'dataiku');\nreturn [{ json: {\n  brief_id: `brief_${Date.now()}`,\n  competitor: 'Dataiku',\n  role_focus: 'Senior AI Engineer',\n  geo: 'France',\n  signals_count: signals.length,\n  signals,\n  mirakl_context: 'Mirakl needs AI talent for agentic commerce, marketplace intelligence, LLM systems, RAG, production AI and enterprise-grade product deployment.'\n}}];\n"
      },
      "id": "76b40560-cd9a-401c-8c9d-995e946299c6",
      "name": "Build Dataiku Brief Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer sk-proj--**REPLACE**"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"gpt-4o-mini\",\n    \"temperature\": 0.2,\n    \"response_format\": {\n      \"type\": \"json_object\"\n    },\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"You are a strategic Talent Intelligence advisor working for Mirakl. You analyze competitor hiring intent from public signals. You must separate detected signals from interpretation, predict likely hiring moves, recommend concrete TA actions, focus on France, avoid generic competitor analysis, write for a Mirakl executive audience, and return valid JSON only.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": \"Competitor:\\n\" + ($json.competitor || \"Dataiku\") + \"\\n\\nRole focus:\\n\" + ($json.role_focus || \"Senior AI Engineer\") + \"\\n\\nGeography:\\nFrance only.\\n\\nMirakl context:\\nMirakl builds marketplace and agentic commerce infrastructure. Mirakl needs production AI, LLM, RAG, data platform, and AI product engineering talent.\\n\\nSignals:\\n\" + JSON.stringify($json.signals || $json) + \"\\n\\nWrite a business-ready strategic intelligence brief.\\n\\nReturn valid JSON with exactly these keys:\\n{\\n  \\\"competitor\\\": \\\"\\\",\\n  \\\"executive_summary\\\": \\\"\\\",\\n  \\\"key_signals_detected\\\": [\\n    {\\n      \\\"signal\\\": \\\"\\\",\\n      \\\"interpretation\\\": \\\"\\\",\\n      \\\"confidence\\\": \\\"High | Medium | Low\\\"\\n    }\\n  ],\\n  \\\"talent_strategy_interpretation\\\": \\\"\\\",\\n  \\\"predicted_next_moves\\\": [],\\n  \\\"recommended_actions_for_mirakl_ta\\\": [],\\n  \\\"priority_roles_to_watch\\\": [],\\n  \\\"watchlist_keywords\\\": [],\\n  \\\"urgency_level\\\": \\\"High | Medium | Low\\\",\\n  \\\"final_recommendation\\\": \\\"\\\"\\n}\"\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "id": "33d87d3f-0477-43c9-860a-f59dcd316a43",
      "name": "OpenAI - Generate Competitor Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nreturn items.map((item, index) => {\n  const source = $items('Build Dataiku Brief Context')[index].json;\n  let raw = item.json.choices?.[0]?.message?.content || item.json.message?.content || item.json.output_text || item.json.text || '';\n  raw = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  let p;\n  try { p = JSON.parse(raw); } catch(e) {\n    p = { competitor: source.competitor, executive_summary: 'Dataiku is a high-priority AI talent pool to monitor in France.', key_signals_detected: [], talent_strategy_interpretation: 'Likely continued investment in enterprise AI platform and governed AI workflows.', predicted_next_moves: ['Hire AI platform engineers','Strengthen LLM and agent capabilities'], recommended_actions_for_mirakl_ta: ['Monitor weekly','Target adjacent AI platform profiles'], priority_roles_to_watch: ['AI Platform Engineer','LLM Engineer'], watchlist_keywords: ['agent','LLM','governance','evaluation'], urgency_level: 'High', final_recommendation: 'Act now on adjacent profiles and monitor Dataiku hiring signals weekly.' };\n  }\n  return { json: {\n    brief_id: source.brief_id,\n    competitor: p.competitor || source.competitor,\n    role_focus: source.role_focus,\n    executive_summary: p.executive_summary || '',\n    key_signals_detected: JSON.stringify(p.key_signals_detected || []),\n    talent_strategy_interpretation: p.talent_strategy_interpretation || '',\n    predicted_next_moves: Array.isArray(p.predicted_next_moves) ? p.predicted_next_moves.join('; ') : (p.predicted_next_moves || ''),\n    recommended_actions_for_mirakl_ta: Array.isArray(p.recommended_actions_for_mirakl_ta) ? p.recommended_actions_for_mirakl_ta.join('; ') : (p.recommended_actions_for_mirakl_ta || ''),\n    priority_roles_to_watch: Array.isArray(p.priority_roles_to_watch) ? p.priority_roles_to_watch.join('; ') : (p.priority_roles_to_watch || ''),\n    watchlist_keywords: Array.isArray(p.watchlist_keywords) ? p.watchlist_keywords.join('; ') : (p.watchlist_keywords || ''),\n    urgency_level: p.urgency_level || 'Medium',\n    final_recommendation: p.final_recommendation || '',\n    created_at: new Date().toISOString().slice(0,10)\n  }};\n});\n"
      },
      "id": "ea9dcf43-dd35-4764-8bc7-4985bed43dc6",
      "name": "Parse Competitor Brief JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "**REPLACE_WORKSHEET_ID**",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "**REPLACE_SHEET_NAME**",
          "mode": "list",
          "cachedResultName": "competitor_briefs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/**REPLACE_WORKSHEET_ID**/edit#gid=**REPLACE_SHEET_GID**"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "brief_id": "={{ $json.brief_id }}",
            "competitor": "={{ $json.competitor }}",
            "role_focus": "={{ $json.role_focus }}",
            "executive_summary": "={{ $json.executive_summary }}",
            "key_signals_detected": "={{ $json.key_signals_detected }}",
            "talent_strategy_interpretation": "={{ $json.talent_strategy_interpretation }}",
            "predicted_next_moves": "={{ $json.predicted_next_moves }}",
            "recommended_actions_for_mirakl_ta": "={{ $json.recommended_actions_for_mirakl_ta }}",
            "priority_roles_to_watch": "={{ $json.priority_roles_to_watch }}",
            "watchlist_keywords": "={{ $json.watchlist_keywords }}",
            "urgency_level": "={{ $json.urgency_level }}",
            "final_recommendation": "={{ $json.final_recommendation }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "brief_id",
              "displayName": "brief_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competitor",
              "displayName": "competitor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role_focus",
              "displayName": "role_focus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "executive_summary",
              "displayName": "executive_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "key_signals_detected",
              "displayName": "key_signals_detected",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "talent_strategy_interpretation",
              "displayName": "talent_strategy_interpretation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "predicted_next_moves",
              "displayName": "predicted_next_moves",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_actions_for_mirakl_ta",
              "displayName": "recommended_actions_for_mirakl_ta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_roles_to_watch",
              "displayName": "priority_roles_to_watch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "watchlist_keywords",
              "displayName": "watchlist_keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency_level",
              "displayName": "urgency_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_recommendation",
              "displayName": "final_recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c2c5e98d-2fda-480d-b347-9f581e666dac",
      "name": "Append competitor_briefs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ERU5W8Lro76UsixY",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read market_signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read market_signals": {
      "main": [
        [
          {
            "node": "Build Dataiku Brief Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dataiku Brief Context": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Competitor Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Competitor Brief": {
      "main": [
        [
          {
            "node": "Parse Competitor Brief JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Competitor Brief JSON": {
      "main": [
        [
          {
            "node": "Append competitor_briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5b36ee0b-e108-42d7-8ee8-b44256c5fb57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f77a87671be770b6d9ddd8adb5517f104760a4bca53f9786441e20f0d0b605dd"
  },
  "id": "5warENPLuM4GvH9u",
  "tags": []
}